@page "/"
@using System.Collections

<PageTitle>Dress Up</PageTitle>

<div class="page-wrapper">
    <div class="header-wrapper">
        <h1 class="page-title">Dress Up Game</h1>
        <div class="save-outfit">
            <MudTextField @bind-Value="outfitName" Label="Outfit Name" Variant="Variant.Outlined" />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" OnClick="SaveOutfit" Style="margin: 8px">
                Save
            </MudButton>
        </div>
        <div class="retrieve-outfit">
            <MudSelect @bind-Value="currentSaved" Clearable="true" Placeholder="None Selected" Variant="Variant.Outlined" Style="margin: 8px">
                <MudSelectItem Value="@("Starter Outfit")" />
                <MudSelectItem Value="@("My Outfit")" />
            </MudSelect>
        </div>
    </div>

    <div class="page">
       <div class="outfit-display">
            <Display outfit="@outfit" />
        </div>

        <div class="outfit-selector">
            <Selector OnSelectionChanged="HandleOutfitChanged" />
        </div>
    </div>
</div>


@code {
    private Outfit outfit = new Outfit {
        Parts = new Dictionary<string, string> {
            { "face", "2020s.png" },
            { "shirt", "red-flannel.png" }}
    };
    private string outfitName { get; set; } = string.Empty;
    private List<string> changedPart = new List<string>{"empty", "empty"};
    private List<string> savedOutfits = new List<string>{"default"};
    private string currentSaved = string.Empty;

    private void HandleOutfitChanged(string[] arr)
    {
        outfit.Parts[arr[0]] = arr[1];
    }
    private void SaveOutfit()
    {
        if (string.IsNullOrWhiteSpace(outfitName))
        {
            Console.WriteLine("Outfit name cannot be empty.");
            return;
        }

        // Here you could save the current `outfit` state under that name.
        Console.WriteLine($"Saving outfit '{outfitName}' with {outfit.Parts.Count} parts.");
    }

    private void RetrieveOutfit(string outfitName) {
        // set current outfit to the outfitName settings stored in cookies
        // (Display should autoupdate, so just change the oufit variable here)

        // TODO
    }
}
