@page "/"

<PageTitle>Dress Up</PageTitle>

<div class="page-wrapper">
    <h1>Dress Up Game</h1>

    <div class="page">
        <div class="outfit-display" >
            <Display outfit=outfit />
        </div>

        <div class="outfit-selector" >
            <Selector />
        </div>
    </div>
</div>


@code {
    private Outfit outfit = new Outfit {
        Parts = new Dictionary<string, string> {
            { "Hair", "2020s.png" },
            { "Face", "2020s.png" },
            { "Shirt", "red-flannel.png" },
            { "Pants", "black-skinny-jeans.png" },
            { "Shoes", "black-platforms.png" }
        }
    };
}
