@page "/selector"
@rendermode InteractiveServer

@* selects outfit options *@

@* category buttons -> a variable *@
<table>
    <tr>
        <th>hair</th>
        <th>face</th>
        <th>shirts</th>
    </tr>
</table>

@* depending on that variable, a list of other options are displayed beneath *@
         @* L->  this sets the outfit (through a function declared in Home.razor) *@

